.row
  .col-xs-12
    = form_tag(products_search_path, method: :post, class: 'form-inline form-search-products') do
      .form-group
        = text_field_tag :search, params[:search], placeholder: 'Поиск', class: 'form-control'
      = submit_tag 'Поиск', name: nil, class: 'btn btn-primary'

.not-found
  %p Введите ваш запрос в форму поиска.